/* Plugin: Octopress Solarized */
pre .gd:after, pre .gd .x:after, pre .gi:after, pre .gi .x:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.code-highlight-pre {
  background: #fcfcfc; }

.code-highlight-row.numbered:before {
  color: #93a1a1;
  background: white;
  border-right: 1px solid #ededed;
  text-shadow: #f7f7f7 0 -1px; }

.marked-line .code-highlight-line:before {
  background: rgba(0, 186, 255, 0.05); }

.marked-line.numbered:before {
  background: rgba(0, 186, 255, 0.05);
  border-right-color: rgba(0, 112, 153, 0.05); }

.highlight pre, pre:not(.code-highlight-pre), .code-highlight {
  border: 1px solid #e5e5e5;
  background: #ffffff;
  color: #586e75; }

pre {
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Heading */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Literal.Number.Integer.Long */ }

pre span {
  color: #586e75; }

pre .c {
  color: #93a1a1;
  font-style: italic; }

pre .cm {
  color: #93a1a1;
  font-style: italic; }

pre .cp {
  color: #93a1a1;
  font-style: italic; }

pre .c1 {
  color: #93a1a1;
  font-style: italic; }

pre .cs {
  /* Comment.Special */
  color: #93a1a1;
  font-weight: bold;
  font-style: italic; }

pre .err {
  color: #dc322f;
  background: none; }

pre .k {
  color: #cb4b16; }

pre .o {
  color: #586e75;
  font-weight: bold; }

pre .p {
  color: #586e75; }

pre .ow {
  color: #2aa198;
  font-weight: bold; }

pre .gd {
  color: #586e75;
  /* Generic.Deleted */ }

pre .gd:after {
  background: #f6cbcb; }

pre .gd .x {
  /* Generic.Deleted.Specific */
  color: #586e75; }

pre .gd .x:after {
  background: #f2b7b6; }

pre .ge {
  /* Generic.Emph */
  color: #586e75;
  font-style: italic; }

pre .gh {
  color: #93a1a1; }

pre .gi {
  /* Generic.Inserted */
  color: #586e75; }

pre .gi:after {
  background: #e6eacc; }

pre .gi .x {
  /* Generic.Inserted.Specific */
  color: #586e75; }

pre .gi .x:after {
  background: #ced699; }

pre .go {
  color: #657b83; }

pre .gp {
  color: #2aa198; }

pre .gs {
  color: #586e75;
  font-weight: bold; }

pre .gu {
  color: #6c71c4; }

pre .gt {
  color: #dc322f; }

pre .kc {
  color: #859900;
  font-weight: bold; }

pre .kd {
  color: #268bd2; }

pre .kp {
  color: #cb4b16;
  font-weight: bold; }

pre .kr {
  color: #d33682;
  font-weight: bold; }

pre .kt {
  color: #2aa198; }

pre .n {
  color: #268bd2; }

pre .na {
  color: #268bd2; }

pre .nb {
  color: #859900; }

pre .nc {
  color: #d33682; }

pre .no {
  color: #b58900; }

pre .ni {
  color: #d33682; }

pre .nl {
  color: #859900; }

pre .ne {
  color: #268bd2;
  font-weight: bold; }

pre .nf {
  color: #268bd2;
  font-weight: bold; }

pre .nn {
  color: #b58900; }

pre .nt {
  color: #268bd2;
  font-weight: bold; }

pre .nx {
  color: #b58900; }

pre .bp {
  color: #586e75; }

pre .vc {
  color: #859900; }

pre .vg {
  color: #268bd2; }

pre .vi {
  color: #268bd2; }

pre .nv {
  color: #268bd2; }

pre .w {
  color: #839496; }

pre .mf {
  color: #2aa198; }

pre .m {
  color: #2aa198; }

pre .mh {
  color: #2aa198; }

pre .mi {
  color: #2aa198; }

pre .mo {
  color: #2aa198; }

pre .s {
  color: #2aa198; }

pre .sb {
  color: #859900; }

pre .sc {
  color: #859900; }

pre .sd {
  color: #2aa198; }

pre .s2 {
  color: #2aa198; }

pre .se {
  color: #dc322f; }

pre .sh {
  color: #859900; }

pre .si {
  color: #268bd2; }

pre .sx {
  color: #859900; }

pre .sr {
  color: #2aa198; }

pre .s1 {
  color: #2aa198; }

pre .ss {
  color: #cb4b16; }

pre .il {
  color: #b58900; }

code, kbd, samp, tt {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Source Code Pro", Inconsolata-dz, Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", Courier, monospace;
  border-radius: 3px; }

code:before, code:after, kbd:before, kbd:after, samp:before, samp:after, tt:before, tt:after {
  content: "\00a0";
  letter-spacing: -0.2em; }

pre code {
  border: none;
  background: none;
  border-raidus: 0;
  font-size: inherit; }

pre code:before, pre code:after {
  content: none; }

pre, pre code {
  font-size: .9em;
  line-height: 1.45em;
  font-family: "Source Code Pro", Inconsolata-dz, Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", Courier, monospace; }

pre *, pre code * {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.highlight pre, pre:not(.code-highlight-pre), .code-highlight {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  line-height: 1.45em;
  font-size: .9em; }

.highlight pre span, pre:not(.code-highlight-pre) span, .code-highlight span {
  font-style: normal;
  font-weight: normal; }

.code-highlight-figure {
  margin: 1.8em 0;
  background: none;
  padding: 0;
  border: 0; }

.code-highlight-figure * {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.code-highlight-figure pre {
  margin-top: 0;
  margin-bottom: 0; }

.code-highlight-caption {
  position: relative;
  font-size: .9em;
  text-align: center;
  line-height: 2em;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  background-color: #ccc;
  background-image: -webkit-linear-gradient(#ffffff, #f0f0f0 6%, #e5e5e5 90%, #e5e5e5);
  background-image: linear-gradient(#ffffff, #f0f0f0 6%, #e5e5e5 90%, #e5e5e5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  border: 1px solid #cbcbcb; }

.code-highlight-caption + .code-highlight {
  border-top: 0; }

.code-highlight-caption-link {
  position: absolute;
  right: .8em;
  color: #666;
  z-index: 1;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  padding-left: 3em; }

.highlight pre, pre:not(.code-highlight-pre) {
  padding: 1em .8rem;
  border-radius: .4em;
  margin: 1.8em 0; }

.code-highlight-pre {
  width: 100%;
  margin-bottom: 0;
  display: table; }

.code-highlight-row {
  display: table-row;
  width: 100%; }

.code-highlight-row:before, .code-highlight-row .code-highlight-line {
  padding-left: 1.6em;
  padding-right: 1.6em; }

.code-highlight-row:first-child:before, .code-highlight-row:first-child .code-highlight-line {
  padding-top: 0.8em; }

.code-highlight-row:last-child:before, .code-highlight-row:last-child .code-highlight-line {
  padding-bottom: 0.8em; }

.code-highlight-row.numbered:before, .code-highlight-row.numbered .code-highlight-line {
  padding-left: 0.8em;
  padding-right: 0.8em; }

.code-highlight-row.numbered:before {
  display: table-cell;
  content: attr(data-line);
  min-width: 1.2em;
  text-align: right;
  line-height: 1.45em; }

.code-highlight-line {
  display: table-cell;
  width: 100%;
  position: relative;
  z-index: 1; }

.marked-line {
  position: relative; }

.marked-line .code-highlight-line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-right: 1px solid rgba(0, 186, 255, 0.13); }

.marked-line.unnumbered .code-highlight-line:before {
  border-left: 3px solid rgba(0, 186, 255, 0.5); }

.marked-line.numbered:before {
  border-left: 3px solid rgba(0, 186, 255, 0.5); }

.start-marked-line:before, .start-marked-line .code-highlight-line:before {
  border-top: 1px solid rgba(0, 186, 255, 0.13); }

.end-marked-line:before, .end-marked-line .code-highlight-line:before {
  border-bottom: 1px solid rgba(0, 186, 255, 0.13); }
