.highlight {
  font-size: 13px;
  * { box-sizing: border-box; }
  pre {
    @include octopress-highlight-style;
    padding: .8em;
  }
  @include octopress-solarized-code;
}

pre { 
  font-size: 13px;
  font-family: Inconsolata, Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}

